.btn-login {
    margin-top: 8px;
    height: 48px;
    font-size: 17px;
}

.form-inline .form-control {
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    padding: 0 48px;
}

.form-inline .form-label {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.form-inline .form-label span.icon {
    font-size: 20px;
}

.form-inline .form-action {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.form-inline .form-action span.icon {
    font-size: 15px;
}

.modal-dialog {
    width: 420px;
}

.modal-content {
    padding: 40px;
}

.icon-lock:before {
    content: "\e033";
}

.icon-remove-sign:before {
    content: "\e083";
}

.icon-eye-open:before {
    content: "\e105";
}

.icon {
    top: 2px;
}

.icon-edit:before {
    content: "\e065";
}

.avatar-wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.book .container {
    position: relative;
}

.teacher-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 6px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.15);
}