/* 漫画册通用部分 */
.book {
    display: inline-block;
    width: 1140px;
    height: auto;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.book-cover {
    float: left;
    display: block;
    width: 360px;
    height: 270px;
    object-fit: cover;
}

.book-info {
    float: left;
    width: 760px;
    height: 270px;
    margin-left: 20px;
}

.book-name {
    font-size: 20px;
    font-weight: 700;
    color: #303133;
    margin-bottom: 12px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-desc {
    height: 120px;
    line-height: 24px;
    color: #606266;
    margin-bottom: 16px;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.book-style {
    color: #303133;
    margin-bottom: 12px;
}

.book-style .item {
    float: left;
    color: #888;
    font-size: 12px;
    margin-right: 11px;
}

.book-style .line {
    float: left;
    display: block;
    width: 1px;
    height: 12px;
    font-style: normal;
    margin-top: 4px;
    margin-right: 12px;
    background-color: #999;
}

.book-style .icon-link {
    top: 4px;
    line-height: 17px;
    color: #ffaa33;
    font-size: 17px;
}

.book-style .icon-link:hover, .book-style .icon-link:active {
    color: #ff4433;
}

.icon {
    top: 2px;
}
