.title {
    width: 450px;
    margin: 16px auto;
    padding: 32px 0 16px;
}

.app-name {
    width: 450px;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.app-url {
    width: 450px;
    font-size: 18px;
    color: #303133;
    text-align: center;
}

.form-login {
    width: 450px;
    margin: 0 auto;
    padding: 40px 32px;
    border: solid 1px #dedfe0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}

.form-control {
    width: 100%;
    height: 54px;
    line-height: 54px;
    padding: 0 52px;
    border: solid 1px #dcdfe6;
    box-sizing: border-box;
    color: #909399;
    font-size: 15px;
}

.form-control:focus {
    border: solid 1px #67c23a;
    color: #303133;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.form-label span.icon {
    top: 3px;
    left: 1px;
    color: #909399;
    font-size: 20px;
}

.form-control:focus + .form-label span.icon {
    color: #67c23a;
}

.form-action {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.form-action span.icon {
    cursor: pointer;
    color: #909399;
    font-size: 14px;
}

.btn-login {
    width: 384px;
    height: 54px;
    font-size: 18px;
    margin-top: 12px;
}

.bottom {
    margin-top: 16px;
}

.pwd-action {
    float: right;
    font-size: 14px;
    width: 88px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: solid 1px #000;
}

.pwd-action:hover {
    color: #fff;
    background-color: #444;
}

.pwd-action:active {
    color: #fff;
    background-color: #000;
}

.user-protocol {
    float: left;
    height: 36px;
    line-height: 36px;
    color: #888;
    font-size: 14px;
}

.user-protocol .checkbox {
    margin-top: 9px;
    margin-right: 4px;
}

.protocol-link {
    color: #000;
}

.protocol-link:hover, .protocol-link:active {
    text-decoration: underline;
}

.valid-code {
}

.valid-code .form-control {
    padding-right: 114px;
}

.valid-code .form-action {
    width: 90px;
    padding-right: 12px;
}

.btn-send-code {
    display: inline-block;
    width: 90px;
    height: 32px;
    font-size: 14px;
}

.icon-user:before {
    content: "\e008";
}

.icon-th:before {
    content: "\e011";
}

.icon-lock:before {
    content: "\e033";
}

.icon-remove-sign:before {
    content: "\e083";
}

.icon-eye-open:before {
    content: "\e105";
}

.icon-phone:before {
    content: "\e145";
}

.teacher-reg {
    color: #909399;
    text-align: center;
    margin-top: 16px;
}

.teacher-reg a {
    color: #303133;
    text-decoration-line: underline;
}