.user {
    position: relative;
    width: 100%;
    height: 376px;
    padding: 70px 0;
    background-color: #e4e7ed;
    box-shadow: inset 0 0 24px 12px rgba(0, 0, 0, 0.25);
}

.user-avatar {
    float: left;
    width: 360px;
    height: 360px;
    border-radius: 4px;
    border: 8px solid #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.user-info {
    float: left;
    width: 792px;
    height: 376px;
    margin-left: 32px;
}

.user-name {
    line-height: 32px;
    color: #303133;
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.user-profile {
    width: 800px;
    height: 125px;
    line-height: 25px;
    color: #606266;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.btn-create {
    margin-top: 24px;
}

.btn-picker {
    margin-left: 12px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 32px 0 12px;
}

.title-note {
    line-height: 14px;
    color: #909399;
    font-size: 14px;
    text-align: center;
    margin-bottom: 36px;
}

.work {
    position: relative;
    width: 222px;
    height: 298px;
    margin: 0 20px 40px 0;
    background-color: #fff;
    float: left;
    border: solid 1px #dedfe0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.05);
}

.item-url {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 110px;
}

.item-url:hover, .item-url:active {
    background-color: rgba(0, 0, 0, 0.02);
}

.modal-dialog {
    width: 458px;
}

.modal-content {
    padding: 32px 48px 48px;
}

.form-group {
    margin-bottom: 12px;
}



.middle {
    margin-bottom: 8px;
}

.create-logo .icon-plus {
    top: 2px;
    left: 2px;
}

.icon-heart:before {
    content: "\e005";
}

.icon-star:before {
    content: "\e006";
}

.icon-bookmark:before {
    content: "\e044"
}

.icon-picture:before {
    content: "\e060";
}

.icon-fire:before {
    content: "\e104";
}

.book {
    position: relative;
}

.publish-mark {
    top: 3px;
    color: #67c23a;
    margin-left: 8px;
}
