<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta - 多媒体教学平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Meta</a>
            <a class="reg-action" href="../register">注册</a>
            <a href="../login">
                <button class="login-action" type="button">登录</button>
            </a>
        </div>
    </div>
</header>
<main class="container">
    <div class="title">
        <a href="../index">
            <p class="app-name">您好，我是Meta!</p>
            <p class="app-url">快速注册 成为平台知名讲师</p>
        </a>
    </div>
    <div id="regTeacherForm" class="form-login">
        <div class="form-group">
            <label class="form-action"><span class="icon icon-remove-sign" @click="removeName"></span></label>
            <input class="form-control" type="text" placeholder="您的用户名" v-model="user.name"/>
            <label class="form-label"><span class="icon icon-user"></span></label>
        </div>
        <div class="form-group">
            <label class="form-action"><span class="icon icon-remove-sign" @click="removeMobilePhoneNumber"></span></label>
            <input class="form-control" type="text" placeholder="您的手机号" v-model="user.mobilePhoneNumber"/>
            <label class="form-label"><span class="icon icon-phone"></span></label>
        </div>
        <div class="form-group">
            <label class="form-action"><span class="icon icon-eye-open" @click="changeType"></span></label>
            <input class="form-control" type="password" placeholder="密码，6-32位" :type="type" v-model="user.password"/>
            <label class="form-label"><span class="icon icon-lock"></span></label>
        </div>
        <div class="form-group">
            <label class="form-action"><span class="icon icon-remove-sign" @click="removeInvitationCode"></span></label>
            <input class="form-control" type="text" placeholder="注册邀请码" v-model="invitationCode"/>
            <label class="form-label"><span class="icon icon-th"></span></label>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-login" type="button" @click="registerTeacher" :disabled="regTeacherDisabled">{{regTeacherAction}}</button>
        </div>
        <div class="form-group teacher-reg">
            <a href="../register">点击此处</a>返回用户注册界面
        </div>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR NIPING</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/login.js"></script>
</body>
</html>