<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta - 多媒体教学平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/user-book.css"/>
    <link rel="stylesheet" href="../css/author-book.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed" th:if="${null == session.user}">
        <div class="container">
            <a class="logo" href="../index">Meta</a>
            <a class="reg-action" href="../register">注册</a>
            <button class="login-action" type="button" @click="loginModalVisible">登录</button>
        </div>
    </div>
    <div class="header-fixed" th:if="${null != session.user}">
        <div class="container">
            <a class="logo" href="../index">Meta</a>
            <div class="account" @mouseover="visible" @mouseout="invisible" v-cloak>
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-nav" v-if="isVisible">
                    <a href="../user/index" class="account-item" v-if="user.roles.LECTURER"><span class="icon icon-user"></span>我的课程</a>
                    <a href="../user/settings" class="account-item"><span class="icon icon-cog"></span>我的信息</a>
                    <span class="account-item account-logout" @click="logout"><span class="icon icon-off"></span>退出登录</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="main">
    <section class="book">
        <div class="container" v-cloak>
            <img class="book-cover" :src="book.cover" alt=""/>
            <div class="book-info">
                <p class="book-name" style="margin-top: 28px">{{book.name}}</p>
                <p class="book-style">{{book.style}}&nbsp;&nbsp;{{book.type}}</p>
                <p class="book-desc">{{book.description}}</p>
            </div>
            <a class="avatar-wrap" :href="'../teacher/index?id=' + book.author.id">
                <img class="teacher-avatar" :src="book.author.avatar" alt=""/>
            </a>
        </div>
    </section>
    <div class="title-wrap">
        <div class="container">
            <p class="title title-left"><span class="title-text" @click="changeTab(0)" :class="{'title-active': 0 == tabIndex}">课程视频</span></p>
            <p class="title title-right"><span class="title-text" @click="changeTab(1)" :class="{'title-active': 1 == tabIndex}">课程测评</span></p>
        </div>
    </div>
    <div class="course-content">
        <div class="content" v-if="0 == tabIndex" v-cloak>
            <div class="lessons">
                <div class="lesson" v-for="(page, index) in book.pageList" :class="{'lesson-1': 0 == index}">
                    <p class="lesson-item"><span class="icon icon-play-circle" @click="playVideo(index)"></span>{{index + 1}}</p>
                    <p class="lesson-item">{{page.name}}</p>
                    <p class="lesson-play"></p>
                    <p class="lesson-study" v-if="!book.publish">
                        <span class="icon icon-edit" @click="updateLessonModalVisible(index)"></span>
                        <span class="icon icon-trash" @click="deleteLessonModalVisible(index)"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="content" v-if="1 == tabIndex" v-cloak>
            <div class="review" v-for="(review, order) in reviews" v-cloak>
                <p class="review-question"><span>{{order + 1}}</span>&nbsp;&nbsp;<span>{{review.question}}</span>&nbsp;&nbsp;&nbsp;
                    <span class="icon icon-trash" @click="deleteReviewModalVisible(order)" style="cursor: pointer" v-if="!book.publish"></span></p>
                <p class="review-option" v-for="(option, index) in review.optionList">
                    <label class="inline">
                        <input type="radio" :name="order" @click="optionChosen(order, index)"/>
                        <span class="radio"></span>&nbsp;
                        <span>{{index | letter}}&nbsp;&nbsp;{{option}}</span>
                    </label>
                </p>
            </div>
            <button class="btn btn-submit" @click="submitReviews">提交答案</button>
        </div>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR NIPING</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="loginForm" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">开启您的学习之旅</span>
            <span class="modal-close" @click="invisible"><span class="icon icon-remove"></span></span>
        </div>
        <div class="modal-content">
            <form class="form form-inline">
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-remove-sign"
                                                     @click="removeMobilePhoneNumber"></span></label>
                    <input class="form-control" type="text" placeholder="中国大陆手机号" v-model="user.mobilePhoneNumber"/>
                    <label class="form-label"><span class="icon icon-phone"></span></label>
                </div>
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-eye-open" @click="changeType"></span></label>
                    <input class="form-control" :type="type" placeholder="6-32个字符，区分大小写" v-model="user.password"/>
                    <label class="form-label"><span class="icon icon-lock"></span></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-login" type="button" @click="login" :disabled="loginDisabled">
                        {{loginAction}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="transModal" class="modal trans" v-if="isVisible" v-cloak>
    <div class="trans-content">
        <p class="trans-url"></p>
        <div class="trans-dismiss"><span class="icon-dismiss" @click="invisible"></span></div>
        <video :src="page.image" class="trans-page" controls></video>
        <p class="trans-no"><span>-&nbsp;</span>{{index + 1}}<span>&nbsp;-</span></p>
        <div class="trans-nav nav-prev" title="上一张" @click="prevTrans">
            <span class="nav-arrow arrow-prev"></span>
        </div>
        <div class="trans-nav nav-next" title="下一张" @click="nextTrans">
            <span class="nav-arrow arrow-next"></span>
        </div>
    </div>
</div>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/login.js"></script>
<script src="../js/author-book.js"></script>
</body>
</html>