<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta多媒体教学平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/book.css"/>
    <link rel="stylesheet" href="../css/author.css">
    <link rel="stylesheet" href="../css/user-blog.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="">Meta</a>
            <div class="account" @mouseover="visible" @mouseout="invisible">
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-nav" v-if="isVisible" v-cloak>
                    <a href="../user/index" class="account-item"><span class="icon icon-user"></span>个人主页</a>
                    <a href="../user/settings" class="account-item"><span class="icon icon-cog"></span>账号设置</a>
                    <a href="../admin/index" class="account-item"
                       v-if="user.permissions.MANAGE_SYSTEM"><span class="icon icon-edit"></span>系统管理</a>
                    <span class="account-item account-logout" @click="logout"><span class="icon icon-off"></span>退出登录</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="main">
    <section class="user">
        <div class="container">
            <img class="user-avatar" :src="user.avatar" alt=""/>
            <div class="user-info">
                <p class="user-name">{{user.name}}</p>
                <p class="user-profile">{{user.profile}}</p>
                <button class="btn-default btn-create" @click="bookCreateModalVisible">创建课程</button>
            </div>
        </div>
    </section>
    <div class="content">
        <p class="title">我的课程</p>
        <p class="title-note">我不仅长得好看 而且还很幽默</p>
        <div class="book" v-for="book in user.bookList" v-cloak>
            <img class="book-cover" :src="book.cover" alt="">
            <div class="book-info">
                <p class="book-name">{{book.name}}</p>
                <p class="book-desc">{{book.description}}</p>
                <a :href="'../user/course?id=' + book.id">
                    <button class="btn-default">浏览</button>
                </a>
            </div>
            <div class="publish-mark" v-if="2 == book.status">
                <span class="icon icon-bookmark"></span>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR NIPING</span>
</footer>
<div id="bookCreateModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">创建课程</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <form class="form-horizontal book-form">
                <div class="form-group cover-group">
                    <label class="form-label">封面</label>
                    <img class="form-cover" :src="book.cover">
                    <input id="file" type="file" @change="changeCover" hidden/>
                    <button class="btn-default btn-picker" type="button" v-if="!isChosen" @click="chooseCover">选择图片</button>
                    <button class="btn-link" type="button" v-if="isChosen" @click="cancelChoice" v-cloak>取消
                    </button>
                </div>
                <div class="form-group middle">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text" v-model="book.name"/>
                </div>
                <div class="form-group middle">
                    <label class="form-label">年级</label>
                    <select class="form-control" v-model="book.style" @change="selectType">
                        <option selected disabled>请选择</option>
                        <option value="高三">高三</option>
                        <option value="高二">高二</option>
                        <option value="高一">高一</option>
                        <option value="初三">初三</option>
                        <option value="初二">初二</option>
                        <option value="初一">初一</option>
                        <option value="六年级">六年级</option>
                        <option value="五年级">五年级</option>
                        <option value="四年级">四年级</option>
                        <option value="三年级">三年级</option>
                        <option value="二年级">二年级</option>
                        <option value="一年级">一年级</option>
                    </select>
                </div>
                <div class="form-group middle">
                    <label class="form-label">学科</label>
                    <select class="form-control" v-model="book.type">
                        <option selected disabled>请选择</option>
                        <option v-for="type in typeList" :value="type">{{type}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">简介</label>
                    <textarea class="form-area" v-model="book.description"></textarea>
                </div>
                <button class="btn-default pull-right" type="button" @click="createBook" :disabled="isDisabled">
                    <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
                </button>
            </form>
        </div>
    </div>
</div>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/user-blog.js"></script>
</body>
</html>