<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta - 多媒体教学平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/user-book.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Meta</a>
            <div class="account" @mouseover="visible" @mouseout="invisible" v-cloak>
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-nav" v-if="isVisible">
                    <a href="../user/index" class="account-item" v-if="user.roles.LECTURER"><span
                            class="icon icon-user"></span>我的课程</a>
                    <a href="../user/settings" class="account-item"><span class="icon icon-cog"></span>我的信息</a>
                    <span class="account-item account-logout" @click="logout"><span
                            class="icon icon-off"></span>退出登录</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="main">
    <section class="book">
        <div class="container" v-cloak>
            <img class="book-cover" :src="book.cover" alt=""/>
            <div class="book-info">
                <div class="book-name" style="margin-top: 18px">
                    <span>{{book.name}}</span>
                    <div class="book-cog" @mouseover="visible" @mouseout="invisible" v-if="!book.publish">
                        <span class="icon icon-cog"></span>
                    </div>
                    <div class="book-cog" v-if="book.publish">
                        <span class="icon icon-bookmark" style="color: #67c23a"></span>
                    </div>
                    <div class="cog-menu" v-if="isVisible && !book.publish" @mouseover="visible" @mouseout="invisible" v-cloak>
                        <p class="cog-action cog-line" @click="publishModalVisible">
                            <span class="icon icon-bookmark"></span>发布
                        </p>
                        <p class="cog-action cog-line" @click="updateBookModalVisible"><span class="icon icon-edit"></span>编辑
                        </p>
                        <p class="cog-action" @click="deleteModalVisible"><span class="icon icon-trash"></span>删除</p>
                    </div>
                </div>
                <p class="book-style">{{book.style}}&nbsp;&nbsp;{{book.type}}</p>
                <p class="book-desc">{{book.description}}</p>
                <button class="btn btn-create" style="margin-right: 10px" @click="uploadModalVisible"
                        v-if="!book.publish">添加视频
                </button>
                <button class="btn btn-create" @click="reviewModalVisible" v-if="!book.publish">添加试题</button>
            </div>
        </div>
    </section>
    <div class="title-wrap">
        <div class="container">
            <p class="title title-left"><span class="title-text" @click="changeTab(0)" :class="{'title-active': 0 == tabIndex}">课程视频</span></p>
            <p class="title title-right"><span class="title-text" @click="changeTab(1)" :class="{'title-active': 1 == tabIndex}">课程测评</span></p>
        </div>
    </div>
    <div class="course-content">
        <div class="content" v-if="0 == tabIndex" v-cloak>
            <div class="lessons">
                <div class="lesson" v-for="(page, index) in book.pageList" :class="{'lesson-1': 0 == index}">
                    <p class="lesson-item"><span class="icon icon-play-circle" @click="playVideo(index)"></span>{{index + 1}}</p>
                    <p class="lesson-item">{{page.name}}</p>
                    <p class="lesson-play"></p>
                    <p class="lesson-study" v-if="!book.publish">
                        <span class="icon icon-edit" @click="updateLessonModalVisible(index)"></span>
                        <span class="icon icon-trash" @click="deleteLessonModalVisible(index)"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="content" v-if="1 == tabIndex" v-cloak>
            <div class="review" v-for="(review, order) in reviews" v-cloak>
                <p class="review-question"><span>{{order + 1}}</span>&nbsp;&nbsp;<span>{{review.question}}</span>&nbsp;&nbsp;&nbsp;
                    <span class="icon icon-trash" @click="deleteReviewModalVisible(order)" style="cursor: pointer" v-if="!book.publish"></span></p>
                <p class="review-option" v-for="(option, index) in review.optionList">
                    <span style="margin-left: 20px">{{index | letter}}&nbsp;&nbsp;{{option}}</span>
                </p>
                <p class="review-question">答案&nbsp;{{review.answer}}</p>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR NIPING</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="uploadModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">添加章节</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content form-horizontal">
            <div class="form-group">
                <label class="form-label">名称</label>
                <input class="form-control" type="text" v-model="name"/>
            </div>
            <div class="form-group">
                <label class="form-label">视频</label>
                <input id="file" class="form-control" type="file"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="uploadPage" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="reviewModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">添加试题</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content form-horizontal">
            <div class="form-group">
                <label class="form-label">问题</label>
                <input class="form-control" type="text" v-model="review.question"/>
            </div>
            <div class="form-group">
                <label class="form-label">答案</label>
                <select class="form-control" v-model="review.answer">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">选项</label>
                <div class="form-area">
                    <p v-for="(option, index) in review.optionList">{{index | letter}}&nbsp;{{option}}</p>
                </div>
            </div>
            <div class="form-group" v-if="isAdd">
                <label class="form-label">新项</label>
                <input class="form-control" type="text" v-model="option"/>
            </div>
            <div class="form-group" v-if="optionQuantity < 4">
                <button class="btn btn-default pull-right" v-if="!isAdd" @click="isAdd = true">添加选项</button>
                <button class="btn btn-default pull-right" v-if="isAdd" @click="saveOption">保存</button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" :disabled="isDisabled" @click="saveReview">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="publishModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">发布课程</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="delete-prompt">您确定要发布该课程吗？</p>
            <p>注意：课程发布后，课程信息与每一章节的内容都将无法进行修改，并且课程将无法被删除。</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" type="button" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" type="button" @click="publishBook" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="bookUpdateModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">课程信息</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content form-horizontal">
            <div class="form-group cover-group">
                <label class="form-label">封面</label>
                <img class="form-cover" :src="book.cover">
                <input id="cover" type="file" @change="changeCover" hidden/>
                <button class="btn-default btn-picker" type="button" v-if="!isChosen" @click="chooseCover">
                    更换封面
                </button>
                <button class="btn btn-link" type="button" v-if="isChosen" @click="cancelChoice" v-cloak>取消
                </button>
            </div>
            <div class="form-group middle">
                <label class="form-label">名称</label>
                <input class="form-control" type="text" v-model="book.name"/>
            </div>
            <div class="form-group middle">
                <label class="form-label">年级</label>
                <p class="form-control">{{book.style}}</p>
            </div>
            <div class="form-group middle">
                <label class="form-label">学科</label>
                <p class="form-control">{{book.type}}</p>
            </div>
            <div class="form-group">
                <label class="form-label">简介</label>
                <textarea class="form-area" v-model="book.description"></textarea>
            </div>
            <button class="btn pull-right" type="button" @click="updateBook" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">删除课程</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="delete-prompt">您确定要删除该课程吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" type="button" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" type="button" @click="deleteBook" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="deleteReviewModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">删除试题</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="delete-prompt">您确定要删除该试题吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" type="button" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" type="button" @click="deleteReview" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="transModal" class="modal trans" v-if="isVisible" v-cloak>
    <div class="trans-content">
        <p class="trans-url"></p>
        <div class="trans-dismiss"><span class="icon-dismiss" @click="invisible"></span></div>
        <video :src="page.image" class="trans-page" controls></video>
        <p class="trans-no"><span>-</span>{{index + 1}}<span>-</span></p>
        <div class="trans-nav nav-prev" title="上一节" @click="prevTrans">
            <span class="nav-arrow arrow-prev"></span>
        </div>
        <div class="trans-nav nav-next" title="下一节" @click="nextTrans">
            <span class="nav-arrow arrow-next"></span>
        </div>
    </div>
</div>
<div id="updateLessonModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">更新章节</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content form-horizontal">
            <div class="form-group">
                <label class="form-label">名称</label>
                <input class="form-control" type="text" v-model="name"/>
            </div>
            <div class="form-group">
                <label class="form-label">视频</label>
                <input id="lesson" class="form-control" type="file"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="updatePage" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<div id="deleteLessonModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">删除章节</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="delete-prompt">您确定要删除该章节吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-default pull-right" type="button" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" type="button" @click="deletePage" :disabled="isDisabled">
                <span class="icon icon-cog rotate" v-if="isDisabled"></span>{{action}}
            </button>
        </div>
    </div>
</div>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/user-book.js"></script>
</body>
</html>