<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta - 多媒体教学平台</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/nemo.css"/>
    <link rel="stylesheet" href="../css/user-settings.css"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a class="logo" href="../index">Meta</a>
            <div class="account" @mouseover="visible" @mouseout="invisible" v-cloak>
                <div class="account-info">
                    <img class="account-avatar" :src="user.avatar" alt=""/>
                    <span class="account-name">{{user.name}}</span>
                    <span class="icon icon-menu-down flip"></span>
                </div>
                <div class="account-nav" v-if="isVisible">
                    <a href="../user/index" class="account-item" v-if="user.roles.LECTURER"><span class="icon icon-user"></span>我的课程</a>
                    <a href="../user/settings" class="account-item"><span class="icon icon-cog"></span>我的信息</a>
                    <span class="account-item account-logout" @click="logout"><span class="icon icon-off"></span>退出登录</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="panel">
        <div class="avatar-wrap">
            <div class="avatar-box">
                <img :src="user.avatar" alt="" class="avatar"/>
                <input id="file" type="file" @change="analyzeAvatar" hidden/>
            </div>
            <p class="user-name">{{user.name}}</p>
            <div class="avatar-action">
                <button class="btn" type="button" v-if="!isChosen" @click="chooseAvatar">修改头像</button>
                <div class="save-wrap" v-if="isChosen" v-cloak>
                    <button class="btn btn-pick-save" type="button" @click="saveAvatar" :disabled="isSaveAvatarBtnDisabled">
                        <span class="icon icon-cog rotate" style="margin-right: 4px" v-if="isSaveAvatarBtnDisabled"></span>{{saveAvatarAction}}
                    </button>
                    <button class="btn btn-link" type="button" @click="cancelChoice" :disabled="isSaveAvatarBtnDisabled">取消</button>
                </div>
            </div>
            <div class="option-list">
                <span class="option" :class="{active: tabIndex == 0}" @click="changeTab(0)"><span class="icon icon-user icon-m"></span>个人简介</span>
                <span class="option" :class="{active: tabIndex == 2}" @click="changeTab(2)"><span class="icon icon-lock icon-m"></span>密码</span>
            </div>
        </div>
        <div class="option-wrap">
            <div class="form-horizontal form-settings" v-if="tabIndex == 0">
                <p class="option-title">个人简介</p>
                <div class="form-group">
                    <textarea class="form-area" placeholder="介绍一下自己吧..." v-model="user.profile"></textarea>
                </div>
                <button class="btn btn-save" type="button" @click="saveInfo" :disabled="isSaveBtnDisabled">{{saveAction}}</button>
            </div>
            <form class="form-horizontal form-settings" v-if="tabIndex == 2" v-cloak>
                <p class="option-title">密码</p>
                <div class="form-group"><input type="password" class="form-control" placeholder="旧密码" v-model="oldPassword"/></div>
                <div class="form-group"><input type="password" class="form-control" placeholder="新密码" v-model="newPassword"/></div>
                <div class="form-group"><input type="password" class="form-control" placeholder="确认密码" v-model="repeatPassword"/></div>
                <button class="btn btn-save" type="button" @click="savePassword" :disabled="isSaveBtnDisabled">{{saveAction}}</button>
            </form>
        </div>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR NIPING</span>
</footer>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/bmob.js"></script>
<script src="../js/nemo.js"></script>
<script src="../js/user-settings.js"></script>
</body>
</html>